<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EntryControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EntryControl.Properties.Settings>
            <setting name="StartForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>c:\DB_Pulp\Dispatcher.fdb</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EntryPoint" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>initial</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>initial</value>
            </setting>
        </EntryControl.Properties.Settings>
    </userSettings>
</configuration>